@font-face {
    font-family: 'Oswald';
    src: url("../font/Oswald-VariableFont_wght.ttf");
}
body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    max-width: 1600px;
    margin: 0px auto;
}
body, h1, h3, p, a {
    font-weight: 100;
    color: white;
    font-family: Oswald;
    letter-spacing: 1px;
}
.conteiner-topo, .nav-topo{
    display: flex;
}
.conteiner-topo {
    justify-content: space-between;
    padding: 30px 0px 0px 80px;
    align-items: center;
}
.linha-topo {
    width: 100px;
    position: relative;
    height: 18px;
}
.nav-topo {
    gap: 40px;
    background-color: rgb(22 22 22 / 52%);
    padding: 0px 150px 0px 50px;
    width: 620px;
    justify-content: center;
}
.navs {
    padding: 30px 0px;
}
.img-logo {
    height: 45px;
    z-index: 100;
}
a {
    text-decoration: none;
}
hr {
    border: 1px solid #80808052;
}
.hr-top {
    width: 560px;
    position: absolute;
    right: -32%;
}
.dif-c {
    font-weight: 600;
    color: #808080a1;
}
.n-mid, h3, a {
    text-transform: uppercase;
}
.n-mid {
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.cl-w {
    border-bottom: 3px solid white;
}
.conteiner-main, .nav-dest, .titulo-nav, .conteudo-bot, .separacao-linha-nav {
    display: flex;
}
.separacao-linha-nav {
    align-items: center;
}
.nav-dest, .titulo-nav {
    gap: 20px;
}
.conteiner-main {
    max-width: 1100px;
    margin: 50px auto;
    gap: 150px;
}
.conteiner-conteudo {
    margin-top: 150px;
    width: 400px;
}
h1 {
    font-size: 80px;
    margin: 0px;
    font-family: math;
}
.conteudo-bot {
    gap: 60px;
    margin-top: 20px;
}
h3 {
    font-size: x-large;
}
h5 {
    font-weight: 100;
}
h5, h3 {
    margin: 0px;
}
.titulo-nav {
    margin: 20px 0px 80px 0px;
}
.icon-hm {
    display: none;
}
.icon-close{
    display: none;
}
@media (max-width: 1430px) {
    .linha-topo {
        display: none;
    }
}
@media (max-width: 1000px) {
    body {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        height: 100%;
    }
    .nav-topo {
        padding: 0px;
    }
    strong {
        display: none;
    }
    .conteiner-topo {
        padding: 0px 0px 0px 40px;
    }
    .conteiner-conteudo {
        margin: 40px auto;
        text-align: center;
    }
    .conteiner-main {
        display: block;
        width: 450px;
    }
    .titulo-nav, .nav-dest, .conteudo-bot{
        justify-content: center;
    }
    .titulo-nav {
        margin: 85px 0px 50px 0px;
    }
}
@media (max-width: 700px) {
    .xnav {
        position: absolute;
        display: none;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 100;
        text-align: center;
        background-color: #1a1a1a;
        padding: 55px 0px;
    }
    .icon-close {
        z-index: 100;
        position: relative;
        bottom: 30px;
        cursor: pointer;
    }
    .icon-hm {
        height: 30px;
        display: block;
    }
    .conteiner-topo {
        padding: 40px 40px 0px 40px;
    }
    .navs {
        border-bottom: 0px solid white;
    }
    .navs:hover {
        background-color: #7b797921;
    }
    .conteiner-conteudo, .conteiner-main {
        width: initial;
    }
    .conteiner-main {
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .img-destination {
        width: 300px;
    }
}