@font-face {
    font-family: 'Oswald';
    src: url("../font/Oswald-VariableFont_wght.ttf");
}
body {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    max-width: 1600px;
    margin: 0px auto;
}
body, h1, h3, p, a, h5 {
    font-weight: 100;
    color: white;
    font-family: Oswald;
    letter-spacing: 1px;
}
.conteiner-topo, .nav-topo, .separacao-linha-nav{
    display: flex;
}
.separacao-linha-nav {
    align-items: center;
}
.conteiner-topo {
    justify-content: space-between;
    padding: 30px 0px 0px 80px;
    align-items: center;
}
.linha-topo {
    width: 100px;
    position: relative;
    height: 18px;
}
.nav-topo {
    gap: 40px;
    background-color: rgb(22 22 22 / 52%);
    padding: 0px 150px 0px 50px;
    width: 620px;
    justify-content: center;
}
.navs {
    padding: 30px 0px;
}
.img-logo {
    height: 45px;
    z-index: 100;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
hr {
    border: 1px solid #80808052;
}
.hr-top {
    width: 560px;
    position: absolute;
    right: -32%;
}
.dif-c {
    font-weight: 600;
    color: #808080a1;
}
.titulo-nav {
    margin: 20px 0px 80px 0px;
    display: flex;
    gap: 20px;
}
h3 {
    text-transform: uppercase;
    font-size: x-large;
}
.conteiner-main {
    max-width: 1100px;
    margin: 50px auto;
}
.cl-w {
    border-bottom: 3px solid white;
}

.conteiner-conteudo, .conteudo {
    display: flex;
}
#lista-tech {
    padding: 0px;
}
li {
    list-style-type: none;
    font-size: 30px;
    width: 60px;
    border-radius: 30px;
    font-family: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.438);
    cursor: pointer;
    margin-bottom: 30px;
}
li:hover, .li-tech{
    background: white;
    color: black;
}

h5 {
    margin: 10px 0px 5px 0px;
}
h1 {
    font-size: 60px;
    font-family: math;
    margin: 0px;
}
.texto-conteudo {
    margin-left: 50px;
}
p {
    max-width: 400px;
}
.img-tech {
    position: absolute;
    left: 58%;
    top: 240px;
}
.icon-hm {
    display: none;
}
.icon-close{
    display: none;
}
@media (max-width: 1430px) {
    .linha-topo {
        display: none;
    }
}
@media (max-width: 1000px) {
    body {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
        height: 100%;
    }
    .nav-topo {
        padding: 0px;
    }
    strong {
        display: none;
    }
    .conteiner-topo {
        padding: 0px 0px 0px 40px;
    }
    .conteiner-conteudo {
        display: block;
    }
    .conteiner-main {
        width: 515px;
    }
    .img-tech {
        position: initial;
    }
    h3 {
        margin: 0px;
    }
    .titulo-nav {
        justify-content: center;
        margin: 85px 0px 50px 0px;
    }
}
@media (max-width: 700px) {
    .xnav {
        position: absolute;
        display: none;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 100;
        text-align: center;
        background-color: #1a1a1a;
        padding: 55px 0px;
    }
    .icon-close {
        z-index: 100;
        position: relative;
        bottom: 30px;
        cursor: pointer;
    }
    .icon-hm {
        height: 30px;
        display: block;
    }
    .conteiner-topo {
        padding: 40px 40px 0px 40px;
    }
    .navs {
        border-bottom: 0px solid white;
    }
    .navs:hover {
        background-color: #7b797921;
    }
    .conteiner-main {
        width: initial;
        margin: 0px 40px;
    }
    .img-tech {
        width: 100%;
    }
}